<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=0.85">
<title>Blog</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
  <style>
  *, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
}
 
    /* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
    header:after, .container:after, footer:after {
       content: "";
       display: table;
       clear: both;
    }
  /* стилевой класс, который управляет шириной контейнера сетки*/
  .container {
     margin: 0 auto;
     width: 100%;
     max-width: 960px;
     padding: 0 15px;
  }
  header1 {
         position: relative;
         width: 100%;
         text-shadow: 2px 2px 1px rgba(0, 0, 0, .4);
         font-weight:bold;
         text-align: left;
         font-size: 25px;
         line-height: 50px;
         color: #B00909;
        }
    header {
     width: 100%;
     background: #B00909;
     padding: 15px 0;
     margin-bottom: 30px;
     position: relative;
  }
  #menu {
   text-align: center;
  }
  #menu li {
     display: inline-block;
     margin-right: 30px;
  }
  #menu a {
   color: #f1f1f1;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 60;
   line-height: 40px;
   text-decoration: none;
  }
  #menu a:hover {
     color: #F5B48C;
  }
  #menu.active {
   max-height: 328px;
}
    
    body{
    background: #f1f1f1;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
 
    }    
    
  .posts-list {
   width: 64%;
   float: left;
   overflow: auto;
    margin-bottom: 60px;
   
  } 
  
  #pic {
    float: left; /* Обтекание картинки текстом */
   }
   #text {
    margin-left: 70px; /* Отступ от левого края */
   }
   
  /* блок для статьи */
  .post {
     padding: 20px;
     background: white;
     font-size: 13px;
     margin-bottom: 30px;
     box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
 
  }
  
  .post-title {
   margin-bottom: 12px;
   font-size: 26px;
   
}
  .post-content {
     line-height: 1.5;
     font-size: 15px;
     border-bottom: 1px solid #EBEBE3;
     border-top: 1px solid #EBEBE3;
  }
  .post-content p{
     padding-bottom: 1em;
     padding-top: 1em;
 
  }
  .post-image {
     margin-bottom: 30px;
     margin-right: 30px;
  }
  .post-footer{
  margin-top: 15px;
  margin-bottom: 30px;
  
 
  }
  .footer-col {
   float: left;
  }
  .footer-col a {
     color: #7E7E7E;
     text-decoration: none;
  }
  .footer-col:last-child {
     float: right;
  }
  aside {
   width: 33%;
   float: right;
   overflow: hidden;
    }
  .widget {
   padding: 20px;
   
   background: white;
   font-size: 13px;
   margin-bottom: 30px;
   box-shadow: 3px 3px 1px rgba(0, 0, 0, .05);
    }
    
    .round {
    width: 50px; height: 50px; /* Ширина и высота */
   border-radius: 50%; /* Превращаем в круг */
   }
    
  footer {
   width: 100%;
    padding: 15px 0;
    position: relative;
   background: #3C3D41;
   color: white;
   text-align: center;
  }
  #menu-bottom {
     text-align: center;
    }
    #menu-bottom li {
       display: inline-block;
       margin-right: 30px;
    }
    #menu-bottom a {
     color: #f1f1f1;
     text-transform: uppercase;
     letter-spacing: 1px;
     font-weight: 60;
     line-height: 40px;
     text-decoration: none;
    }
    #menu-bottom a:hover {
       color: #F5B48C;
    }
    
    
        /* кнопка переключения меню, появляющаяся при ширине 768px */
    .nav-toggle {
       display: none;
       position: relative;
       float: right;
       width: 40px;
       height: 40px;
       margin-left: 20px;
       background: #B00909;
       cursor: pointer;
    }
    .nav-toggle span {
       display: block;
       position: absolute;
       top: 19px;
       left: 8px;
       right: 8px;
       height: 2px;
       background: #f1f1f1;
    }
    .nav-toggle span:before, .nav-toggle span:after {
       content: "";
       position: absolute;
       display: block;
       left: 0;
       width: 100%;
       height: 2px;
       background: #f1f1f1;
    }
    .nav-toggle span:before {
       top: -10px;
    }
    .nav-toggle span:after {
       bottom: -10px;
    }
    
    @media (max-width: 939px) {
 
   /* показываем кнопку для переключения верхней навигации */
   .nav-toggle {
      display: block;
   }
   header {
      padding: 10px 0;
   }
   .posts-list{
    margin-bottom: 0px;
   }
   /* скрываем верхнее меню, отменяем обтекание, позиционируем его, сместив на высоту шапки сайта */
   #menu {
      max-height: 0;
      background: #B00909;
      position: absolute;
      overflow: hidden;
      top: 62px;
      right: 0;
      left: 0;
      margin: 0;
      padding: 0;
      z-index: 3;
   }
   #menu-bottom li {
       display: block;
       text-align: center;
       margin-right: 0;
    }
   /* делаем элементы списка блочными, чтобы они располагались друг под другом */
   #menu li {
      display: block;
      text-align: center;
      border-bottom: 1px solid #f1f1f1;
      margin-right: 0;
   }
   /* отменяем обтекание левой и правой колонок, устанавливаем им ширину 100%*/
   .posts-list, aside {
      width: 100%;
      float: none;
   }
   .widget{
   
   }
}
 
@media (max-width: 480px) {
 
   /* убираем верхнюю и нижнюю границы и выравниваем кнопку по центру */
   .post-footer {
      border-top: none;
      border-bottom: none;
      text-align: center;
   }
   /* отменяем позиционирование кнопок соцсетей */
   .post-social {
      position: static;
      text-align: center;
      transform: none;
      margin-top: 20px;
   }
   
}
 
 
 
  </style>
</head>
